.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.taskList{
 border:1px solid white;
 max-width: 40%;
 box-shadow: 3px 3px whitesmoke;
}
.taskList > ul {
  list-style: none;
  padding:3px;
  margin:10px;
}
.line-through{
 text-decoration-line: line-through;
 color:grey;
}
.task :focus {
 outline: 0;
}
.task{
  text-align: left;
  
}
.itemList{
  background-color:paleturquoise;
  padding:10px;
}
.horizontalLine{
  border:1px solid whitesmoke;
}
.hideTasks{
  display: none;
}

